@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');


html,body {
  height: 100%;
  width: 100%;
  font-family: 'PT Sans','Sans-serif';
  color: #222;
}

.navbar {
    padding: .8rem;
    position: fixed;
    left:0;
    right:0;
    background: rgba(255, 255, 255, 0.2);
}
.navbar-nav li {
    padding-right: 20px;
}
  
.nav-link {
    font-size: 1.1rem !important;
}

.display-4 {
    padding-top: 50px;
}

.personalpic {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 320px;
    margin-bottom:50px;
    margin-top:30px;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .carousel-caption {
      top: 10%;
    }
    .carousel-caption h1 {
      font-size: 200%;
    }
    .carousel-caption h3 {
      font-size: 100%;
      font-weight: 400;
      text-shadow: 1px 1px 10px #000;
    }
}

/* hide mobile version by default */
.logo .mobile {
display: none;
}

@media (max-width: 768px) {
.logo .mobile {
    display: none;
}
.logo .desktop {
    display: none;
}
}

@media (max-width: 500px) {
    .navbar {
        display: none;
    }
}