@import url("https://fonts.googleapis.com/css?family=Lato|Quicksand&display=swap");

/* About Me Section */
.about {
  margin-top: 8%;
  margin-left: 15%;
  margin-right: 15%;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Banner Image */
.banner img {
  float: left;
  height: 40%;
  width: 40%;
  border-radius: 10%;
}

/* About me text*/
.text {
  margin-left: 47%;
  font-family: "Lato", "sans-serif";
  word-spacing: 2px;
  font-size: 20px;
}

/* About Me paragraph text */
.text p {
  color: #999999;
  font-family: "Quicksand", "sans-serif";
}

/* About Me links */
.text a {
  text-decoration: none;
}

/* Realignment of components if on mobile device */
@media (max-width: 768px) {
  /* Re-adjust margins to better fit phone screen */
  .about {
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
  }

  /* Banner Image removed */
  .banner img {
    display: none;
  }

  /* Text margins decreased */
  .text {
    margin-left: 0;
    font-family: "Lato", "sans-serif";
    word-spacing: 2px;
    font-size: 20px;
  }
}
