@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/* Main navigation panel */
.navbar {
    padding-right: 10%;
    padding-top: 2%;
    background: rgba(255,255,255,0);
}

/* Links available on the navigation bar*/
.navbar a {
    float: left;
    color: #999999;
    text-align: center;
    padding: 2%;
    text-decoration: none;
    font-size: 17px;
    font-family: 'quicksand','sans-serif';
    float: right;
}