.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10% 30% 0 30%;
}

@media (max-width: 961px) {
  .main {
    margin: 3rem 3rem 0 3rem;
  }
}
